@import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap');
body {
  margin-left:35%;
margin-right:10%;
margin-bottom:110%;
margin-top:10%;
font-family: 'Audiowide', cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(255, 255, 255);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
